set NERDTree
set relativenumber
set number
set history=10000                 " keep x lines of command line history
set clipboard+=unnamed

" Remap leader
nnoremap <SPACE> <Nop>
let mapleader=" "

" Tool windows (NerdTree)
map <leader>e <Action>(ActivateProjectToolWindow)

" don't lose selection when indenting
vnoremap < <gv
vnoremap > >gv
vnoremap = =gv

nmap <leader>? :action GotoAction<CR>

" change font size
nmap + :action EditorIncreaseFontSize<CR>
nmap - :action EditorDecreaseFontSize<CR>
nmap <leader>= :action EditorResetFontSize<CR>

" code navigation
nnoremap <c-o> :action Back<cr>
nnoremap <c-i> :action Forward<cr>

nmap gr :action ShowUsages<CR>
nmap gd :action GotoDeclaration<CR>
nmap gi :action GotoImplementation<CR>

nmap <leader>n :action GotoNextError<CR>
vmap <leader>n :action GotoNextError<CR>
nmap <leader>N :action GotoNextError<CR>
vmap <leader>N :action GotoNextError<CR>

nmap <leader>sf :action GotoFile<CR>
nmap <leader>sg :action FindInPath<CR>

nmap <leader>ri :action Inline<CR>
nmap <leader>rr :action RenameElement<CR>
nmap <leader>rev :action IntroduceVariable<CR>
vmap <leader>rev :action IntroduceVariable<CR>
nmap <leader>rem :action ExtractMethod<CR>
vmap <leader>rem :action ExtractMethod<CR>
nmap <leader>rei :action ExtractInterface<CR>
nmap <leader>rei :action ExtractInterface<CR>
nmap <leader>rm :action Move<CR>
vmap <leader>rm :action Move<CR>
nmap <leader>ro :action OptimizeImports<CR>
nmap <leader>rG :action Generate<CR>
nmap <leader>q :action CloseEditor<CR>
nmap <leader>t :action Switcher<CR>
vmap <leader>t :action Switcher<CR>
nmap <leader>f :action ReformatCode<CR>
nmap <leader>i :action ParameterInfo<cr>
nmap <leader>% :action NewElement<CR>

nmap <leader>ra :action Refactorings.QuickListPopupAction<CR>
vmap <leader>ra <Esc>:action Refactorings.QuickListPopupAction<CR>

nmap <, :action MoveElementLeft<CR>
nmap >, :action MoveElementRight<CR>

nmap <leader>e :NERDTreeFocus<CR>

" Easy window split navigation {{{
map <C-j> <C-w>j
map <C-k> <C-w>k
map <C-l> <C-w>l
map <C-h> <C-w>h

" Debugging
nmap ,d :action Debug<cr>
nmap ,o :action SetOver<CR>
nmap ,i :action StepInto<CR>
nmap ,t :action StepOut<CR>
nmap ,b :action ToggleLineBreakpoint<cr>
nmap ,c :action Debugger.RemoveAllBreakpointsInFile<CR>

" Commenting
nmap <Leader>gc :action CommentByLineComment<CR>

" Tabs
map <leader>1 1gt
map <leader>2 2gt
map <leader>3 3gt
map <leader>4 4gt
map <leader>5 5gt
map <leader>6 6gt
map <leader>7 7gt
map <leader>8 8gt
map <leader>9 9gt
map <leader>tc :tabclose<CR>
"" Does not work " map <leader>tn :tabnew<CR>

map <C-s>% <C-w>v
map <C-s>" <C-w>s
map <C-s>x :tabclose<CR>


map <C-u> <C-u>zz
map <C-d> <C-d>zz
